<section id="portfolio" style="background-image: url(&quot;assets/img/backgrounds/carousel-3.jpg&quot;);">
        <div class="container" style="margin-top: 90px;">
            <div class="row justify-content-center" style="margin-bottom: -15px;">
                <div class="login-dark" style="background-image: none;width: 95%;background-color: rgba(255,255,255,0.9);padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;">
                    <h2 class="text-center" style="color: #55b8ff;font-size: 26px; margin-bottom:20px;">Importar documentación a mis procesos</h2><a class="btn btn-primary" role="button" href="#" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(198, 204, 200);margin: 15px;margin-right: 0;margin-left: 0;color: rgba(255,255,255,0.9);">Buscar archivo local</a>
                    <a class="btn btn-primary" role="button" href="#" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(15, 178, 6);margin: 15px;margin-right: 0;margin-left: 0;color: rgba(255,255,255,0.9);">Visualización</a>
                    <a class="btn btn-primary" role="button" href="#" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(37, 103, 217);margin: 15px;margin-right: 0;margin-left: 0;color: rgba(255,255,255,0.9);">Enviar archivo</a>
                    <div
                        class="table-responsive table-striped" style="border-radius: 10px;">
                        <table class="table" style="margin:0px;">
                            <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
                                <tr>
                                    <th class="align-middle">Proceso</th>
                                    <th class="align-middle">Número expediente</th>
                                    <th class="align-middle">Tipo de documentación</th>
                                    <th class="align-middle"><strong>Fecha inicio trámite</strong><br></th>
                                    <th class="align-middle" style="text-align: center;"></th>
                                    <th class="align-middle" style="text-align: center;"></th>
                                </tr>
                            </thead>
                            <tbody>
                               
        
                                <tr>
                                    <td class="align-middle">Migratorio</td>
                                    <td class="align-middle"><em>673143644</em><br></td>
                                    <td>Pasaporte</td>
                                    <td>19/11/2022</td>
                             
                                </tr>
                                <tr>
                                    <td class="align-middle">Abreviado</td>
                                    <td class="align-middle"><em>519526866</em><br></td>
                                    <td>Acta conciliación</td>
                                    <td>20/11/2022</td>
                          
                                </tr>
                                <tr>
                                    <td class="align-middle">Litigio de vivienda</td>
                                    <td class="align-middle"><em>440419688</em><br></td>
                                    <td class="align-middle">Título de propiedad</td>
                                    <td>21/11/2022</td>
                                    <!--<td class="text-center"><a href="#" class="btn btn-outline-dark"><i class="fa fa-pencil"></i></a></td>
                                    <td class="text-center"><a href="#" class="btn btn-outline-danger"><i class="fa fa-remove"></i></a></td>-->
                                </tr>

                                <tr>
                                    <td class="align-middle">Bienes</td>
                                    <td class="align-middle"><em>601548009</em><br></td>
                                    <td>Estado financiero</td>
                                    <td>22/11/2022</td>
                          
                                </tr>

                                <tr>
                                    <td class="align-middle">Cautelar</td>
                                    <td class="align-middle"><em>781716778</em><br></td>
                                    <td>Resolución judicial</td>
                                    <td>23/11/2022</td>
                          
                                </tr>

                                <tr>
                                    <td class="align-middle">Marital</td>
                                    <td class="align-middle"><em>547621390</em><br></td>
                                    <td>Acta de matrimonio</td>
                                    <td>24/11/2022</td>
                          
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
        </div>
    </section>